:root {
  --base-unit: 1rem;
  --bold: 500;
  --border-radius: 8px;
  --border: 1px solid black;

  --h1: calc(1.25 * var(--base-unit));

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body, h1, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: var(--base-unit);
}
